$couleur__background-body : rgb(55, 182, 255);
$couleur__background-body-dark : rgb(48, 48, 48);
$couleur__text-shadow-body : rgb(255, 255, 255);

$couleur__color-h1 : rgb(255, 0, 242);
$couleur__background--h1 : rgba(255, 0, 0, 0.521);
$couleur__background--h2h3h4 : rgba(190, 190, 190, 0.479);


$couleur__background--code : rgba(255, 251, 0, 0.404);

$couleur__link : rgb(204, 0, 255);
$couleur__link-visited : rgb(255, 255, 255);
$couleur__link-hover : rgb(77, 77, 77);