$police__main : 'Courier New', Courier, monospace;
$police__titre-principal : fantasy;
$police__titre-secondaire : 'Comic sans';


/*------------------------ simple */

$font__pre: 'Courier New', Courier, monospace;
$font__line-height-pre: .8em;
$font__code : 'Courier New', Courier, monospace;
