
.site__branding {
    text-align: center;
}

.site__title {
    font-size: clamp(2rem, 4vw, 5rem);
}

.site__description {

}

.site-header {
    width: 100%;
}

.custom-logo {
    position: absolute;
}