.site__footer {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    flex-wrap: wrap;
    
    @media screen and (max-width : 700px){
        display: block;
    }
}

.site__footer>div {
    flex: 0 1 24%;

    min-width: 100px;
    border: 1px solid gray;
    box-shadow: $box__shadow;
    border-radius: 8px;
    background: $color__background-evenement;


}