.liste {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 20px;

    h2 {
        margin: 0;
    }
    
    .liste__cours {
        padding: 10px;
        flex: 1 1 20%;
        color: white;
        box-shadow: $box__shadow;
        border-radius: 8px;
    }
    .liste__cours:hover {
        box-shadow: $box__shadow-hover;
        transition-duration: 0.4s;    
    }
}