.liste {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
    padding-top: 30px;

    h2 {
        margin: 0;
    }
    
    .liste__cours {
    

        // margin: 10px 0;
        padding: 10px;
        flex: 1 1 20%;
        color: white;
        box-shadow: $box__shadow;
        border-radius: 8px;
    }
}