.menu__primaire { // nav

    .menu { // ul
        display: flex;
        flex-direction: column; 

        justify-content: space-around;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100vw;
    }
    .menu-item { // li
        flex: 1;
        background: rgb(133, 133, 133);

    }
    .menu-item:hover {
        background: #555;

    }
    a {
        display: block;
        text-decoration: none;
        color: #fff;
        padding: 10px;

    }

    @media screen and(min-width:700px) {

        .menu {
            flex-direction: row;

        }


    }


} // fin .menu__primaire

/* transformation en CSS */