.menu__primaire { // nav

    
    .menu { // ul
        display: flex;
        flex-direction: column; 
        justify-content: space-around;
        text-align: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .menu-item { // li
        height: 100px;
        flex: 1;
        background: $couleur__link;
        
    }
    .menu-item:hover {
        box-shadow: $box__shadow-hover;
        border-radius: 8px;
        transition-duration: 0.4s;
        
    }
    a {
        display: block;
        text-decoration: none;
        color: #fff;
        padding: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;

    }

    @media screen and(min-width:700px) {

        .menu {
            flex-direction: row;

        }

        a {
            padding: 30px;

        }


    }


} // fin .menu__primaire

/* transformation en CSS */