.menu__aside {
    margin: 10px;
    .menu {
        margin: 0;
        padding: 0;

    }
    .menu-item {
        font-size: 12px;
        list-style: none;
        text-decoration: none;

    }
    a {

    }

}
    
// .menu__aside{}
// .menu__aside .menu{}
// .menu__aside .menu-item{}
// .menu__aside a{}
