.widget__area {
    margin: 10px;   
}

.site-menu {
    position: relative;
}

.chk-burger {
    display: none;
}

.chk-burger:checked ~ .burger {
    transform: rotate(90deg);

}

.burger {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 200px;
    left: 20px;
    transform: rotate(0deg);
    transition: transform 0.5s;
    font-size: 2em;
}
.menu__aside {
    display: flex;
    position: absolute;

    @media screen and(min-width:700px) {
    position: static;        
    }
    .menu {
        margin: 0;
        padding: 0;

    }
    .menu-item {
        font-size: 12px;
        list-style: none;
        padding: 5px 0;
        
    }
    a {
        text-decoration: none;

    }

}
    
// .menu__aside{}
// .menu__aside .menu{}
// .menu__aside .menu-item{}
// .menu__aside a{}
