body {
    width: 100%;
    margin: 20px auto;
    background: $couleur__background-body;
    font-family: $police__main;
    // text-shadow: 0 0 5px $couleur__text-shadow-body;
    // text-align: center;
}
body p {
    color: $couleur__text;
}
.trace {
    background-color: greenyellow;
}